<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <section name="microsoft.identityModel"
             type="Microsoft.IdentityModel.Configuration.MicrosoftIdentityModelSection, Microsoft.IdentityModel, Version=3.5.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" />
    <section name="thinktecture.identityServer.repositories"
             type="Thinktecture.IdentityServer.Configuration.RepositoryConfigurationSection, Thinktecture.IdentityServer.Core" />
  </configSections>
  <!-- ............................................... -->
  <!-- start of identity server relevant configuration -->
  <thinktecture.identityServer.repositories configSource="configuration\repositories.config" />
  <microsoft.identityModel configSource="configuration\wif.config" />
  <connectionStrings configSource="configuration\connectionStrings.config" />

  <system.diagnostics configSource="configuration\tracing.config" />

  <location path="account/certificatesignin">
    <system.webServer>
      <security>
        <access sslFlags="Ssl, SslNegotiateCert, SslRequireCert" />
      </security>
    </system.webServer>
  </location>
  <location path="issue/simple">
    <system.webServer>
      <security>
        <access sslFlags="SslNegotiateCert" />
      </security>
    </system.webServer>
  </location>
  <location path="issue/oauth2">
    <system.webServer>
      <security>
        <access sslFlags="SslNegotiateCert" />
      </security>
    </system.webServer>
  </location>
  <system.serviceModel>
    <diagnostics>
      <messageLogging logMessagesAtTransportLevel="true"
                      logEntireMessage="true"
                      logMalformedMessages="true" />
    </diagnostics>
  </system.serviceModel>
  <!-- end of identity server relevant configuration -->
  <!-- ............................................. -->
  <appSettings>
    <add key="ClientValidationEnabled"
         value="true" />
    <add key="UnobtrusiveJavaScriptEnabled"
         value="true" />
    <add key="RouteDebugger:Enabled"
         value="false" />
    <add key="UseSqlServerForConfiguration"
         value="false" />
  </appSettings>
  <system.web>
    <customErrors mode="RemoteOnly" />
    <compilation debug="true"
                 targetFramework="4.0">
      <assemblies>
        <add assembly="System.Web.Abstractions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" />
        <add assembly="System.Web.Helpers, Version=1.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" />
        <add assembly="System.Web.Routing, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" />
        <add assembly="System.Web.Mvc, Version=3.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" />
        <add assembly="System.Web.WebPages, Version=1.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" />
        <add assembly="System.Data.Entity, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" />
        <add assembly="Microsoft.IdentityModel, Version=3.5.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" />
      </assemblies>
    </compilation>
    <authentication mode="None" />
    <pages>
      <namespaces>
        <add namespace="System.Web.Helpers" />
        <add namespace="System.Web.Mvc" />
        <add namespace="System.Web.Mvc.Ajax" />
        <add namespace="System.Web.Mvc.Html" />
        <add namespace="System.Web.Routing" />
        <add namespace="System.Web.WebPages" />
      </namespaces>
    </pages>
    <!-- default membership provider -->
    <membership defaultProvider="Membership">
      <providers>
        <clear />
        <add name="Membership"
             type="System.Web.Security.SqlMembershipProvider, System.Web, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b03f5f7f11d50a3a"
             connectionStringName="ProviderDB"
             enablePasswordRetrieval="false"
             enablePasswordReset="true"
             requiresQuestionAndAnswer="true"
             applicationName="/"
             requiresUniqueEmail="false"
             passwordFormat="Hashed"
             maxInvalidPasswordAttempts="5"
             minRequiredPasswordLength="7"
             minRequiredNonalphanumericCharacters="1"
             passwordAttemptWindow="10"
             passwordStrengthRegularExpression="" />
        <!-- uncomment if you want to use the universal provider -->
        <!--<add name="Membership"
             type="System.Web.Providers.DefaultMembershipProvider, System.Web.Providers, Version=1.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35"
             connectionStringName="ProviderDB"
             enablePasswordRetrieval="false"
             enablePasswordReset="true"
             requiresQuestionAndAnswer="false"
             requiresUniqueEmail="false"
             maxInvalidPasswordAttempts="5"
             minRequiredPasswordLength="6"
             minRequiredNonalphanumericCharacters="0"
             passwordAttemptWindow="10"
             applicationName="/" />-->
      </providers>
    </membership>
    <roleManager enabled="true"
                 defaultProvider="Roles">
      <providers>
        <clear />
        <add name="Roles"
             type="System.Web.Security.SqlRoleProvider"
             connectionStringName="ProviderDB"
             applicationName="/" />
        <!-- uncomment if you want to use the universal provider -->
        <!--<add name="Roles"
             type="System.Web.Providers.DefaultRoleProvider, System.Web.Providers, Version=1.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35"
             connectionStringName="ProviderDB"
             applicationName="/" />-->
      </providers>
    </roleManager>

    <!--<profile configSource="configuration\profile.config" />-->
  </system.web>

  <system.webServer>
    <modules runAllManagedModulesForAllRequests="true">
      <remove name="RoleManager" />
      <remove name="FormsAuthentication" />
      <add name="SessionAuthenticationModule"
           type="Microsoft.IdentityModel.Web.SessionAuthenticationModule, Microsoft.IdentityModel, Version=3.5.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" />
    </modules>
  </system.webServer>
  <system.serviceModel>
    <serviceHostingEnvironment aspNetCompatibilityEnabled="true" />
  </system.serviceModel>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Mvc"
                          publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0-2.0.0.0"
                         newVersion="3.0.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
  <system.data>
    <DbProviderFactories>
      <remove invariant="System.Data.SqlServerCe.4.0" />
      <add name="Microsoft SQL Server Compact Data Provider 4.0"
           invariant="System.Data.SqlServerCe.4.0"
           description=".NET Framework Data Provider for Microsoft SQL Server Compact"
           type="System.Data.SqlServerCe.SqlCeProviderFactory, System.Data.SqlServerCe, Version=4.0.0.0, Culture=neutral, PublicKeyToken=89845dcd8080cc91" />
    </DbProviderFactories>
  </system.data>
</configuration>