<connectionStrings>
  <!-- use this connection string for the provider db in SQL Azure -->
  <add name="ProviderDB"
       connectionString="Server=tcp:xyz.database.windows.net,1433;Database=IdentityServer;User ID=foo@xyz;Password=abcdef;Trusted_Connection=False;Encrypt=True;"
       providerName="System.Data.SqlClient" />
</connectionStrings>