<thinktecture.identityServer.repositories tokenServiceConfiguration="Thinktecture.IdentityServer.Repositories.WindowsAzure.ConfigurationRepository, Thinktecture.IdentityServer.WindowsAzure"
                                          userManagement="Thinktecture.IdentityServer.Repositories.WindowsAzure.TableStorageUserRepository, Thinktecture.IdentityServer.WindowsAzure"
                                          claimsRepository="Thinktecture.IdentityServer.Repositories.WindowsAzure.TableStorageClaimsRepository, Thinktecture.IdentityServer.Core.Repositories"
                                          relyingParties="Thinktecture.IdentityServer.Repositories.WindowsAzure.RelyingPartyRepository, Thinktecture.IdentityServer.WindowsAzure"
                                          clientCertificates="Thinktecture.IdentityServer.Repositories.WindowsAzure.ClientCertificatesRepository, Thinktecture.IdentityServer.WindowsAzure"
                                          delegation="Thinktecture.IdentityServer.Repositories.WindowsAzure.DelegationRepository, Thinktecture.IdentityServer.WindowsAzure"
                                          caching="Thinktecture.IdentityServer.Repositories.NullCacheRepository, Thinktecture.IdentityServer.Core.Repositories" />

<!-- use this repository to use the provider db -->
<!-- userManagement="Thinktecture.IdentityServer.Repositories.ProviderUserRepository, Thinktecture.IdentityServer.Core.Repositories" -->

