<system.diagnostics>
  <!--set autoflush to false to increase performance -->
  <trace autoflush="true">
    <listeners>
      <add type="Microsoft.WindowsAzure.Diagnostics.DiagnosticMonitorTraceListener, Microsoft.WindowsAzure.Diagnostics, Version=1.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35"
           name="AzureDiagnostics">
      </add>
    </listeners>
  </trace>

  <sources>
    <!-- message logging -->
    <!--<source name="System.ServiceModel.MessageLogging">

      <listeners>
        <add name="AzureDiagnosticsListener" />
      </listeners>
    </source>-->

    <!-- service model tracing -->
    <source name="System.ServiceModel"
            switchValue="Warning,ActivityTracing"
            propagateActivity="true">

      <listeners>
        <add name="AzureDiagnosticsListener" />
      </listeners>
    </source>

    <!-- WIF tracing -->
    <source name="Microsoft.IdentityModel"
            switchValue="Error" >

      <listeners>
        <add name="AzureDiagnosticsListener" />
      </listeners>
    </source>

    <!-- IdentityServer tracing -->
    <source name="Thinktecture.IdentityServer"
            switchValue="Information">

      <listeners>
        <add name="AzureDiagnosticsListener" />
      </listeners>
    </source>
  </sources>

  <sharedListeners>
    <add name="AzureDiagnosticsListener"
         type="Microsoft.WindowsAzure.Diagnostics.DiagnosticMonitorTraceListener, Microsoft.WindowsAzure.Diagnostics, Version=1.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35">
    </add>
  </sharedListeners>
</system.diagnostics>