<microsoft.identityModel>
  <service>
    <claimsAuthorizationManager type="Thinktecture.IdentityServer.Web.Security.AuthorizationManager" />
    <claimsAuthenticationManager type="Thinktecture.IdentityServer.Web.Security.ClaimsTransformer" />

    <securityTokenHandlers>
      <!-- use the membership provider to authentication UserName tokens -->
      <remove type="Microsoft.IdentityModel.Tokens.WindowsUserNameSecurityTokenHandler, Microsoft.IdentityModel, Version=3.5.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" />
      <add type="Thinktecture.IdentityServer.TokenService.RepositoryUserNameSecurityTokenHandler, Thinktecture.IdentityServer.Core" />

      <!--token handler for mapped X509 certificates-->
      <remove type="Microsoft.IdentityModel.Tokens.X509SecurityTokenHandler, Microsoft.IdentityModel, Version=3.5.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" />
      <add type="Thinktecture.IdentityServer.TokenService.RepositoryX509SecurityTokenHandler, Thinktecture.IdentityServer.Core" />

      <!-- SWT support -->
      <add type="Thinktecture.IdentityServer.Core.Swt.SwtSecurityTokenHandler" />
    </securityTokenHandlers>

    <!-- allows all issuers for client certificate authentication -->
    <!-- access is controlled via user mappings configuration -->
    <issuerNameRegistry type="Thinktecture.IdentityServer.TokenService.ClientCertificateIssuerNameRegistry, Thinktecture.IdentityServer.Core" />

    <!-- no certificate validation for client certificate authentication by default -->
    <certificateValidation certificateValidationMode="None" />

    <!-- token handler for ActAs requests -->
    <securityTokenHandlers name="ActAs">
      <clear />
      <add type="Microsoft.IdentityModel.Tokens.Saml11.Saml11SecurityTokenHandler, Microsoft.IdentityModel, Version=3.5.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35">
        <samlSecurityTokenRequirement issuerCertificateValidationMode="None" />
      </add>
      <add type="Microsoft.IdentityModel.Tokens.Saml2.Saml2SecurityTokenHandler, Microsoft.IdentityModel, Version=3.5.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35">
        <samlSecurityTokenRequirement issuerCertificateValidationMode="None" />
      </add>
    </securityTokenHandlers>

    <federatedAuthentication>
      <cookieHandler name="idsrvauth" />
    </federatedAuthentication>
  </service>
</microsoft.identityModel>